<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>项目状态：</p>
                                <input type="text" name="state"/>
                            </li>
                            <li>
                                <p>项目名称：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group" style="display: none">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:robotproject:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:robotproject:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:robotproject:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:robotproject:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:robotproject:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:robotproject:remove')}]];
        var prefix = ctx + "system/robotproject";
        var filefix = ctx + "system/fileinfo";

        var type = [[${@dict.getType('robot_project_type')}]];
        var state = [[${@dict.getType('robot_project_state')}]];
        
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "【请填写功能名称】",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '是否更新',
                    visible: false
                },
                {
                    field : 'name', 
                    title : '项目名称'
                },
                {
                    field : 'type1', 
                    title : '项目类型',
                    formatter: function(value, row, index) {
                    	return $.table.selectDictLabel(type, value);
                    }
                },
                {
                    field : 'state', 
                    title : '项目状态',
                    formatter: function(value, row, index) {
                    	return $.table.selectDictLabel(state, value);
                    }
                },
                {
                    field : 'xmwd', 
                    title : '项目文档',
                    formatter: function(value, row, index) {
                    	var actions = [];
                        actions.push('<a href="javascript:void(0)" onclick="projectfile(\''+row.id+'\')">查看</a>');
                        return actions.join('');
                    }
                },
                {
                    field : 'gcwd', 
                    title : '过程文档',
                    formatter: function(value, row, index) {
                    	var actions = [];
                        actions.push('<a href="javascript:void(0)" onclick="">查看</a> ');
                        return actions.join('');
                    }
                },
                {
                    field : 'gytp', 
                    title : '工艺图谱',
                    formatter: function(value, row, index) {
                    	var actions = [];
                        actions.push('<a href="javascript:void(0)" onclick="">查看</a> ');
                        return actions.join('');
                    }
                },
                {
                    field : 'applytime', 
                    title : '申请时间'
                },
                {
                    field : 'approvaltime', 
                    title : '审批时间'
                },
                {
                    field : 'applyperson', 
                    title : '申请人'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-primary btn-xs" href="#" onclick="approval(\'' + row.id + '\', \''+row.approvalstatus+'\', \''+row.type1+'\')"><i class="fa fa-pencil-square"></i>专家审核</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function approval(id, state, type) {
        	if (state != 1) {
        		$.modal.alertError("该项目已审批");
        		return;
        	}
			var url;
			if (type==1 || type==2 || type==5) {
	        	url = prefix + "/approval/"+id;
			}
			else if (type==3) {
	        	url = prefix + "/approval3/"+id;
			}
			else if (type==4) {
	        	url = prefix + "/approval4/"+id;
			}
			else {
				$.modal.alertError("项目类型不存在");
				return;
			}
    		var options = {
   				title: '专家审核',
   				width: "380",
   				height: "700",
   				url: url,
   				callBack: doSubmit2
   			};
   			$.modal.openOptions(options);
        }
        
        function projectfile(id) {
        	var url = prefix + "/projectfile/" + id;
    		var options = {
   				title: '项目文档',
   				width: "380",
   				url: url,
   				callBack: doSubmit
   			};
   			$.modal.openOptions(options);
        }
        
        function doSubmit(index, layero){
        	var body = layer.getChildFrame('body', index);
			var id  = body.find('#id').val()
			var apply = uploadFile('applyfile', 'applyfilename', index);
			var acceptance = uploadFile('acceptancefile', 'acceptancefilename', index);
			var evaluate = uploadFile('evaluatefile', 'evaluatefilename', index);
			var certificate = uploadFile('certificatefile', 'certificatefilename', index);
			var str = "id="+id;
			if (apply) {
				str += "&applyfile="+apply.filePath+"&applyfilename="+apply.fileName;
			}
			if (acceptance) {
				str += "&acceptancefile="+acceptance.filePath+"&acceptancefilename="+acceptance.fileName;
			}
			if (evaluate) {
				str += "&evaluatefile="+evaluate.filePath+"&evaluatefilename="+evaluate.fileName;
			}
			if (certificate) {
				str += "&certificatefile="+certificate.filePath+"&certificatefilename="+certificate.fileName;
			}
			$.operate.save(prefix + "/edit", str);
   			layer.close(index);
		}
        
        function doSubmit2(index, layero){
        	var body = layer.getChildFrame('body', index);
			var id  = body.find('#id').val();
			var approvalstatus = body.find('#approvalstatus').val();
        	var str = "id="+id+"&approvalstatus="+approvalstatus+"&approvaltime="+getnowtime();
			$.operate.save(prefix + "/edit", str);
   			layer.close(index);
		}
        
        function uploadFile(path, name, index) {
        	var file;
        	var body = layer.getChildFrame('body', index);
        	var formData = new FormData();
        	var path = body.find('#'+path);
        	if (path[0].files[0] == null) {
        		$.modal.alertWarning("请先选择文件路径");
        		return null;
        	}
        	formData.append('file', path[0].files[0]);        	
        	$.ajax({
        		url: filefix + "/add",
        		type: 'post',
        		cache: false,
        		data: formData,
        		processData: false,
        		contentType: false,
        		dataType: "json",
        		async: false,
        		success: function(result) {
        			file = result.file;
        		}
        	});
        	return file;
        }
        
        function getnowtime() {
			var d=new Date();
			var year=d.getFullYear();
			var month=change(d.getMonth()+1);
			var day=change(d.getDate());
			var hour=change(d.getHours());
			var minute=change(d.getMinutes());
			var second=change(d.getSeconds());
			function change(t){
		    	if(t<10){
		    		return "0"+t;
		    	}
		    	else{
		     		return t;
		    	}
			}
			var time=year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;
			return time;
        }
        
    </script>
</body>
</html>